<div class="content-inner" style="width:100rem">


  <!--***** REPORT-1 *****-->
  <div class="row" id="report1" style="width:75%">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block">
          <div class="text-left report1-cont">
            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> $9,220</h2>
            <span class="text-muted">Todays Income</span>
          </div>
          <span class="text-success">80%</span>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p><small>Last month 10% Growth</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block">
          <div class="text-left report1-cont">
            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-danger"></i> $5,530</h2>
            <span class="text-muted">Gross Profit</span>
          </div>
          <span class="text-danger">43%</span>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 43%; height: 6px;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p><small>Last month 10% Growth</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block">
          <div class="text-left report1-cont">
            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-warning"></i> $3,620</h2>
            <span class="text-muted">Interest Expenses </span>
          </div>
          <span class="text-warning">53%</span>
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 53%; height: 6px;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p><small>Last month 10% Growth</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block">
          <div class="text-left report1-cont">
            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-info"></i> $82,600</h2>
            <span class="text-muted">Net Profit</span>
          </div>
          <span class="text-info">70%</span>
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 70%; height: 6px;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p><small>Last month 10% Growth</small></p>
        </div>
      </div>
    </div>
  </div>

  <!--***** REPORT-2 *****-->
  <div class="row" id="report2">

    <!-- <div class="col-md-4">
      <div class="card card-c1">
        <div class="card-header card-chart" data-background-color="green">
          <canvas class="ct-chart" id="myChart1" height="250"></canvas>
        </div>
        <div class="card-content">
          <h4 class="title">Daily Sales</h4>
          <p class="category">
            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
          </p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="fa fa-clock-o"></i> updated 4 minutes ago
          </div>
        </div>
      </div>
    </div> -->


    <div>


      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfItem" class="row justify-content-md-center">
        <button (click)="input.click()">
          <input #input nv-file-select type="file" (change)="upload($event)" accept="*.png.jpg" />
        </button>
        <div class="col-md-8">
          <div class="form-group row">

            <label for="example-text-input" class="col-2 col-form-label">
              Title:
            </label>
            <div class="col-10">
              <input class="form-control" type="text" id="example-text-input" formControlName="title">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">
              Status
            </label>
            <div class="col-10">
              <input class="form-control" type="status" id="example-email-input" formControlName="status"
                placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-tel-input" class="col-2 col-form-label">
              Number:
            </label>
            <div class="col-10">
              <input class="form-control" type="Number" id="example-tel-input" formControlName="number" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-tel-input" class="col-2 col-form-label">
              Price:
            </label>
            <div class="col-10">
              <input class="form-control" type="Number" id="example-tel-input" formControlName="price" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-10 offset-2">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>


    <!-- <div class="col-md-4">
      <div class="card card-c1">
        <div class="card-header card-chart" data-background-color="orange">
          <canvas class="ct-chart" id="myChart2" height="250"></canvas>
        </div>
        <div class="card-content">
          <button (click)="gettest()">click</button>
          <h4 class="title">Email Subscriptions</h4>
          <p class="category">Last Campaign Performance</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="fa fa-clock-o"></i> campaign sent 2 days ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-c1">
        <div class="card-header card-chart" data-background-color="red">
          <canvas class="ct-chart" id="myChart3" height="250"></canvas>
        </div>
        <div class="card-content">
          <h4 class="title">Completed Tasks</h4>
          <p class="category">Last Campaign Performance</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="fa fa-clock-o"></i> campaign sent 2 days ago
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!--***** REPORT-3 *****-->
  <div class="row" id="report3">
    <div class="col-md-8">
      <div class="card card-c2">
        <table class="table table-hover">
          <thead>
            <div class="dropdown pull-right menu-sett-card">
              <a id="notifications" class="nav-link" rel="nofollow" data-target="#" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v men"></i>
              </a>
              <ul aria-labelledby="notifications" class="dropdown-menu">
                <li>
                  <a rel="nofollow" href="#" class="dropdown-item nav-link">Edit</a>
                </li>
                <li>
                  <a rel="nofollow" href="#" class="dropdown-item nav-link">FAQ</a>
                </li>
                <li>
                  <a rel="nofollow" href="#" class="dropdown-item nav-link">Support</a>
                </li>
              </ul>

            </div>
            <tr>
              <th>Product Name</th>
              <th>Number</th>
              <th>Price</th>
              <!-- <i class="fa fa-ellipsis-v pull-right" ></i> -->
              <th>Status</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of this.itemsList ">
              <td>{{item.title}}</td>
              <td>{{item.number}}</td>
              <td>{{item.price}}</td>
              <td>{{item.status}}</td>

              <td>
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height:10px;"
                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <button (click)="deleteItem(item.idDoc)">Delete</button>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>




  <!--***** FOOTER *****-->
  <div class="row" id="report4" style="width:50%">
    <div class="col-md-3">
      <div class="card text-center social-bottom sb-fb">
        <i class="fa fa-facebook"></i>
        <div>3250 +</div>
        <p>Likes</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center social-bottom sb-tw">
        <i class="fa fa-twitter"></i>
        <div>2345 +</div>
        <p>Following</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center social-bottom sb-gp">
        <i class="fa fa-google-plus"></i>
        <div>1253 +</div>
        <p>Followers</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center social-bottom sb-in">
        <i class="fa fa-instagram"></i>
        <div>4524 +</div>
        <p>Likes</p>
      </div>
    </div>
  </div>

</div>
