<nav class="side-navbar" *ngIf="this.auth.user">
  <div class="sidebar-header d-flex align-items-center">
    <div *ngIf="this.auth.user" class="avatar"><img src="{{this.auth.user.photoURL}}" alt="..."
        class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="h4">{{this.auth.user.displayName}}</h1>
    </div>
  </div>
  <hr>
  <!-- Sidebar Navidation Menus-->
  <ul class="list-unstyled">
    <li class="active"> <a routerLink="/dashboard"><i class="icon-home"></i>Home</a></li>
    <li><a routerLink="/add"> <i class="icon-interface-windows"></i>Insert
        Item
      </a>
      <!-- <ul id="apps" class="collapse list-unstyled">
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="email.html">Email</a></li>
        <li><a href="media.html">Media</a></li>
        <li><a href="invoice.html">Invoice</a></li>
      </ul> -->
    </li>
    <li> <a href="chart.html"> <i class="fa fa-bar-chart"></i>Chart </a></li>
    <li><a href="#forms" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-building-o"></i>Forms </a>
      <ul id="forms" class="collapse list-unstyled">
        <li><a href="basic-form.html">Basic Form</a></li>
        <li><a href="form-layouts.html">Form Layouts</a></li>
      </ul>
    </li>
    <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-file-o"></i>Pages </a>
      <ul id="pages" class="collapse list-unstyled">
        <li><a href="empty.html">Empty</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="search-result.html">Search Result</a></li>
        <li><a href="404.html">404</a></li>
      </ul>
    </li>
    <li> <a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>

  </ul><span class="heading">Extras</span>
  <ul class="list-unstyled">
    <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
  </ul>
</nav>
